<div class="mainpage" id="ed-ex-component">
  <div class="inner-square">
    <div class="scroll scroll-up" (click)="scrollEdEx('about-component')"><i class="fas fa-caret-up fa-lg arrow"></i>Go Back</div>
    <div class="education">
      <h1>Education</h1>
      <div class="title">
        <h2>Bachelor's degree in computer science</h2>
        <p>University of Milan-Bicocca</p>
        <p class="date">October 2018 - July 2021</p>
      </div>
      <div class="title">
        <h2>Electronic diploma</h2>
        <p>I.T.I.S. Ten. Vasc. A. Badoni</p>
        <p class="date">September 2013 - July 2018</p>
      </div>
    </div>
    <div class="experience">
      <h1>Experience</h1>
      <div class="title">
        <h2>Junior Full Stack Developer (Consultant)</h2>
        <p>Accenture</p>
        <p class="date">December 2021 - present</p>
      </div>
      <div class="title">
        <h2>Junior Full Stack Developer</h2>
        <p>SI2001</p>
        <p class="date">September 2021 - present</p>
      </div>
    </div>
<!--    <div class="cv">-->
<!--      <p class="download">Download CV</p>-->
<!--    </div>-->
    <div class="scroll scroll-down" (click)="scrollEdEx('projects-component')">Continue <i class="fas fa-caret-down fa-lg arrow"></i></div>
  </div>
</div>
