@import "src/styles";

.inner-square{
  display: grid;
  grid-template-areas:
    "project scroll-up"
    "project scroll-down";
  grid-template-columns: 9fr 1fr;
}

h1{
  border-bottom: 0.2em solid #222;
  width: 40%;
  font-size: 3em;
}

.scroll{
  font-size: 1.5em;
}

.scroll-up{
  grid-area: scroll-up;
  padding-top: 10px;
}

.scroll-down{
  grid-area: scroll-down;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.projects{
  grid-area: project;
}

h1, h2{
  text-transform: uppercase;
}

ul{
  padding-left: 0;
}

li, p{
  display: flex;
  flex-direction: row;
  align-items: center;
}

li{
  margin-top: 3vh;
}

li * + *{
  margin-left: 2vw;
}

p{
  margin: 0;
  font-size: 2em;
}

p:hover{
  cursor: pointer;
}

.date{
  opacity: .8;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 1.25em;
  align-self: center;
  justify-self: start;
  margin-left: 10px !important;
}

@media only screen and (max-width: 1110px){
  h1{
    font-size: 2em;
  }
  p{
   font-size: 1em;
  }
  .inner-square{
    padding: 3em 1.9em 1.5em 1.9em;
  }
}

@media only screen and (max-width: 930px) {
  .date{
    display: none;
  }
  img{
    height: 25px;
  }
}

@media only screen and (max-width: 750px) {
  .inner-square, .scroll-container{
    display: flex;
    flex-direction: column;
  }
  .scroll-up{
    padding: 0;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .inner-square{
    line-height: 1;
    grid-area: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
  }
  .hide-550{
    display: none;
  }
  h1{
    font-size: 1.3em;
    margin-left: 3vw;
  }
  li{
    font-size: 1.1em;
    margin-left: 3vw;
  }
}
@media only screen and (max-width: 400px) {
  .hide-400, img{
    display: none;
  }
}
