<div class="mainpage" id="projects-component">
  <div class="inner-square">
    <div class="scroll scroll-up" (click)="scrollProj('ed-ex-component')">
      <i class="fas fa-caret-up fa-lg arrow"></i>{{flag ? 'Vai indietro' : 'Go Back'}}
    </div>
    <div class="projects">
      <h1>{{flag ? 'Progetti' : 'Projects'}}</h1>
      <ul>
        <li>
          <i class="hide-550 fab fa-html5 fa-3x"></i><i class="hide-550 fab fa-css3-alt fa-3x"></i>
          <i class="hide-550 fab fa-js-square fa-3x"></i><i class="hide-400 fab fa-angular fa-3x"></i>
          <i class="hide-400 fab fa-node fa-3x"></i>
          <img alt="Spring Framework Logo" src="assets/icons/spring.png" height="40px">
          <img alt="MySQL Logo" src="assets/icons/mysql.png" height="40px">
          <p>RentalCar</p><span class="date">- {{flag ? 'DICEMBRE' : 'DECEMBER'}} 6, 2021</span>
        </li>
        <li>
          <i class="fab fa-android fa-3x"></i><img alt="Qualtrics logo" src="../../../assets/icons/qualtrics.png" height="40px">
          <p>Mindblooming</p><span class="date">- {{flag ? 'LUGLIO' : 'JULY'}} 7, 2021</span>
        </li>
        <li>
          <i class="hide-400 fab fa-node fa-3x"></i><i class="hide-400 fab fa-react fa-3x"></i>
          <img src="assets/icons/firebase.png" height="40px" alt="Firebase logo">
          <p>Da-Peppo App</p><span class="date">- {{flag ? 'MARZO' : 'MARCH'}} 4, 2021</span>
        </li>
        <li>
          <i class="hide-400 fab fa-r-project fa-3x"></i>
          <p>Stock Analysis Project</p><span class="date">- {{flag ? 'GENNAIO' : 'JANUARY'}} 12, 2021</span>
        </li>
        <li>
          <i class="hide-550 fab fa-html5 fa-3x"></i><i class="hide-550 fab fa-css3-alt fa-3x"></i>
          <i class="hide-550 fab fa-js-square fa-3x"></i><i class="hide-400 fab fa-node fa-3x"></i>
          <i class="hide-400 fab fa-react fa-3x"></i>
          <p>Quiz Game </p><span class="date">- {{flag ? 'DICEMBRE' : 'DECEMBER'}} 16, 2020</span>
        </li>
        <li>
          <i class="hide-550 fab fa-html5 fa-3x"></i><i class="hide-550 fab fa-css3-alt fa-3x"></i>
          <i class="hide-400 fab fa-js-square fa-3x"></i><i class="hide-400 fab fa-node fa-3x"></i>
          <p>Weather App</p><span class="date">- {{flag ? 'NOVEMBRE' : 'NOVEMBER'}} 14, 2020</span>
        </li>
      </ul>
    </div>
      <div class="scroll scroll-down" (click)="scrollProj('contacts-component')">{{flag ? 'Continua' : 'Continue'}}<i class="fas fa-caret-down fa-lg arrow"></i></div>
  </div>
</div>
