<div class="mainpage" id="about-component">
  <div class="inner-square">
    <div class="scroll scroll-up" (click)="scrollAbout('first-component')"><i class="fas fa-caret-up fa-lg arrow"></i>{{flag ? 'Vai indietro' : 'Go Back'}}</div>
    <div class="about-me">
      <h1>{{flag ? title_ita : title_eng}}</h1>
      <h3>
        <span class="show-875">{{flag ? show_875_ita : show_875_eng}}.</span>
        <span class="hide-875">{{flag ? show_875_all_ita : show_875_all_eng}}</span>
      </h3>
      <p class="hide-420">{{flag ? project_ita : project_eng}}</p>
      <p class="hide-875">{{flag ? learn_ita : learn_eng}}</p>
      <p class="hide-420">{{flag ? other_ita : other_eng}}</p>
    </div>
    <div class="interests">
      <h2>{{flag ? interest_ita : interest_eng}}</h2>
      <ul>
        <ng-container *ngIf="!flag">
          <li *ngFor="let hobby of hobby_eng; let i = index;" class="{{(i + 1) % 2 === 0 ? 'hide-420' : ''}}">{{hobby}}</li>
        </ng-container>
        <ng-container *ngIf="flag">
          <li *ngFor="let hobby of hobby_ita; let i = index;" class="{{(i + 1) % 2 === 0 ? 'hide-420' : ''}}">{{hobby}}</li>
        </ng-container>
      </ul>
    </div>
    <div class="scroll scroll-down" (click)="scrollAbout('ed-ex-component')">{{flag ? 'Continua' : 'Continue'}}<i class="fas fa-caret-down fa-lg arrow"></i></div>
  </div>
</div>
