h1, h2{
  text-transform: uppercase;
  border-bottom: 0.2em solid #222;
  width: 40%;
  font-size: 3em;
}

.show-875{
  display: none;
}

h2, h3{
  margin-top: 3vh;
  font-size: 2em;
}

.inner-square{
  display: flex;
  flex-direction: column;
  padding-top: 4em;
}

p, li{
  font-family: Montserrat,Helvetica,'Helvetica Neue',Arial,sans-serif;
  font-size: 1.5em;
}

.inner-square{
  display: grid;
  grid-template-areas:
    "about scrollup"
    "interests scrolldown";
  grid-template-columns: 8fr 1fr;
  grid-template-rows: auto auto;
}

.about-me{
  grid-area: about;
}

.interests{
  grid-area: interests;
}

.scroll-up{
  padding-top: 50px;
}

.scroll-down{
  align-self: flex-end;
  padding-bottom: 50px;
}

.scroll-up *{
  animation: scroll-up-anim 1s ease-in-out;
  animation-iteration-count: infinite;
}

.scroll-down *{
  animation: scroll-down-anim 1s ease-in-out;
  animation-iteration-count: infinite;
}

.arrow{
  display: flex;
  align-self: center;
}

@keyframes scroll-down-anim {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(1em);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes scroll-up-anim {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1em);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1800px) {
  h1, h2{
    width: 30%;
  }

  p, h3{
    width: 70vw;
  }
}

@media only screen and (max-width: 1800px){
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.7em;
  }
  h3{
    font-size: 1.5em;
  }

  p, li, .scroll{
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 1400px){

  h1{
    font-size: 1.3em;
  }
  h2{
    font-size: 1.1em;
  }
  h3{
    font-size: 1em;
  }

  p, li, .scroll{
    font-size: 1em;
  }
}

@media only screen and (max-width: 875px){
  .scroll{
    font-size: 1.2em;
  }

  .hide-875{
    display: none;
  }

  .show-875{
    display: block;
  }

  .inner-square{
    grid-template-columns: 6fr 2fr;
  }

  h2, h3{
    margin-top: 2vh;
  }

  h1, h2, h3, p{
    width: 40vw;
  }
}

@media only screen and (max-width: 550px) {
  .inner-square{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 ;
    margin: 0;
  }

  h1{
    font-size: 1.3em;
  }
  h2{
    font-size: 1.1em;
  }
  h3{
    font-size: .9em;
  }

  p, li, .scroll{
    font-size: .9em;
  }

  .scroll-up{
    padding-top: 5px;
  }

  .scroll-down{
    align-self: center;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 420px) {
  .scroll{
    font-size: .8em;
  }

  .hide-420{
    display: none;
  }

  .h2{
    align-self: center;
    justify-self: center;
  }

  .interests{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
