@import "src/styles";

h1{
  font-size: 3.5em;
}

.flag{
  position: absolute;
  top: 55px;
  right: 55px;
  width: 30px;
  height: 20px;
}

.flag:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.2);
  cursor: pointer;
}

.theme{
  right: 60px;
}

.grid-text{
  text-transform: uppercase;
  text-shadow: 0 15px 25px rgba(0,0,0,5);
}

.grid-area-1{
  grid-area: row1;
}

.grid-area-2{
  grid-area: row2;
}

.grid-area-3{
  grid-area: row3;
}

.grid-area-4{
  grid-area: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-self: flex-end;
  transition: all .5s ease-in-out;
  font-size: 1.5em;
  text-shadow: none !important;
}

.grid-area-4 *{
  animation: scroll-down-anim 1s ease-in-out;
  animation-iteration-count: infinite;
}

.inner-square{
  display: grid;
  grid-template-areas:
    "row1 none"
    "row2 none"
    "row3 scroll";
  grid-template-columns: 60vw auto;
  grid-template-rows: 2.5fr 2fr 1.5fr;
}

@media only screen and (max-width: 1500px) {
  h1{
    font-size: 3em;
  }
}

@media only screen and (max-width: 900px) {
  h1{
    font-size: 2em;
  }
  .grid-area-4{
    font-size: 1em;
  }
}

@media only screen and (max-width: 650px){
  .inner-square{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .grid-area-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    writing-mode: horizontal-tb;
  }
  h1{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 350px) {
  .grid-text {
    font-size: 1em;
  }

  .grid-area-4{
    font-size: 10px;
  }

  }
