/* You can add global styles to this file, and also import other style files */
$bg-primary: #582161;
$bg-secondary: #E2BBE8;
$bg-dark: #222;

body{
  overflow: hidden;
  font-family: 'Moul', cursive;
}

html {
  scroll-behavior: smooth;
}

.mainpage{
  width: 100vw;
  height: 100vh;
  background-color: $bg-primary;
}

.inner-square{
  background: $bg-dark;
  border: 2.6em solid $bg-secondary;
  color: $bg-secondary;
  height: 100vh;
  min-width: 280px;
  padding: 3em 3.8em 3em 3.8em;
  width: 100vw;
}

.scroll{
  writing-mode: horizontal-tb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

.scroll-up *{
  animation: scroll-up-anim 1s ease-in-out;
  animation-iteration-count: infinite;
}

.scroll-down *{
  animation: scroll-down-anim 1s ease-in-out;
  animation-iteration-count: infinite;
}

.scroll:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.1);
}

@keyframes scroll-down-anim {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(1em);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes scroll-up-anim {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1em);
  }
  100%{
    transform: translateY(0);
  }
}
